body {
    font-family: "Lato", sans-serif;
}

.sidebar-menu>ul {
    padding-left: 0rem;
}

.faq,
.contact-us,
.visitors {
    width: 18px;
    height: 18px;
}

#mySidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    display: block;
    /* overflow-x: hidden; */
    /* transition: 0.5s; */
    padding-top: 45px;
    background-image: url(../images/sidebarbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sidenav a {
    padding: 8% 8% 8% 32%;
    text-decoration: none;
    font-size: 14px;
    color: white !important;
    display: block;
    transition: 0.3s;
    list-style-type: none;
}

.sidenav #closebtn {
    display: none;
}

#main {
    transition: margin-left 0.5s;
    /* padding: 16px; */
}

.sidebar-brand {
    display: flex;
    align-items: center;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

dl,
ol,
ul {
    list-style-type: none !important;
}

#show-sidebar {
    position: fixed;
    left: 0;
    top: 32px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
}

.headingTop {
    position: absolute;
    -webkit-font-smoothing: antialiased;
    white-space: pre-wrap;
    word-break: break-word;
    width: 13%;
    font-size: 15px;
    text-align: left;
    margin-left: 2.5em !important;
    line-height: 1.3;
    letter-spacing: 0.6px;
    font-family: sans-serif;
    font-weight: bold;
    left: 17em;
    top: 1em;
    z-index: 1;
    color: rgb(37, 52, 112);
    padding-top: 1.4rem !important;
}


.nav-logo {
    margin-left: 1rem;
    height: 25px;
    width: 25px;
    margin-bottom: 4px;
}

.fb-logo {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 5px;
}

.twitter-logo {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 2rem;
    margin-left: 1rem;
}

.navbar {
    padding: 0;
    align-items: center;
    height: 30px;
}

.nav-link {
    color: white;
    font-size: 10px;
    margin: 3px;
}

.navbar-nav-link {
    color: white;
    font-size: 10px;
}

.nav-link-icon {
    margin-top: 10px;
}

.slash {
    padding-top: 4px;
}


.sidebar-list-item {
    font-size: 0.8rem;
}

.footer-list {
    margin-top: 3rem !important;
}

.footer-list ul li {
    padding: 1em;
}

.footer-item {
    margin-left: -4em !important;
    margin-bottom: 0em !important;
    padding-top: 0em !important;
}

.footer-item li {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.footer-item li a {
    color: black !important;
}

.footer-item a {
    text-decoration: none !important;
}

.footer-item img {
    margin-bottom: 6px !important;
}

.footer-item a:hover {
    text-decoration: none;
}


.sidebar-menu ul li {
    padding-top: 2px !important;
    padding-bottom: 0px !important;
}

.sidebar-menu {
    height: 55%;
    padding-top: 11%;
    font-size: 12px !important;
    margin-top: 2em !important;
}

.onhover:hover {
    background-image: url(/images/hover.png);
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100%;
    text-decoration: none;
    z-index: 100;
    color: white;
}

.sidebar-brand {
    margin-top: -1em !important;
}

.card-1 {
    height: 26.3rem !important;
}

.logo-brand {
    padding-top: 1em !important;
}

.logo {
    width: 3rem;
    padding-top: 1em !important;
}

.ppks {
    color: white;
    font-weight: 100;
    font-size: 30px;
    margin-right: 3.5rem;
}

.Jabatan {
    color: yellow;
    padding-left: 2rem;
    padding-top: -2rem;
    font-size: 0.8em;
    /* font-weight:; */
}


.date {
    margin-bottom: 7%;
    font-size: 18px;
    padding-left: 33px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.display-4 {
    font-size: 25px !important;
    color: rgb(37, 52, 112);
}


/* media tags */

@media (min-width: 176px) {
    .navbar-expand-sm {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}


/* navbar */

.navbar-nav {
    flex-direction: row !important;
}


/*--------------------------------------------------------------------------------- */

#main {
    margin-left: 250px;
}

#openSidenav {
    display: none;
}

@media (max-width: 760px) {
    #mySidenav {
        display: none !important;
    }

    #main {
        margin-left: 0px;
    }

    #closebtn {
        position: absolute;
        right: 25px;
        top: 1em;
        display: inline;
        font-size: 36px;
        margin-left: 50px;
    }

    #openSidenav {
        display: inline;
    }
}


/* Sidenav end */

.sidenav {
    height: 100%;
    width: 0;
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 4% 4% 5% 13%;
    text-decoration: none;
    /* font-size: 25px; */
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* .sidenav a:hover {
color: #f1f1f1 !important;
} */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#image_logo {
    width: 19% !important;
    margin-left: -13px !important;
    margin-top: 5px !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.p-3 {
    padding: 1rem !important;
}